@(email: String)(implicit request: RequestHeader, messages: Messages)

@main(Messages("activate.account.title")) {
    
        @titlefield(Messages("activate.account"))
		
		<div class="footerfielddiv">	
		@Messages("activate.account.text1") @email
		</div>
		<div class="footerfielddiv">	
        @Messages("activate.account.text2")
		</div>
		<div class="footerfielddiv">	
        @Html(Messages("activate.account.text3", routes.ActivateAccountController.send(helper.urlEncode(email))))
		</div>
		
}
