@(changePasswordForm: myform.MyChangePasswordForm, user: models.User)(implicit request: RequestHeader, messages: Messages)

@main(Messages("change.password.title"), Some(user)) {
    
        @titlefield(Messages("change.password"))		
		
        @helper.form(action = routes.ChangePasswordController.submit, 'autocomplete -> "off") {
		
			<div class="footerfielddiv">
            @Messages("strong.password.info")
			</div>
			
			@helper.CSRF.formField            
			
			<div class="formdiv">
			<table>
			
				@field("password","currentPassword",Messages("current.password"),error=changePasswordForm.errors("currentPassword"))
				@field("password","newPassword",Messages("new.password"),error=changePasswordForm.errors("newPassword"))
							
				@field("hr")		
				
				@field("submit",title=Messages("change"))	
			
			</table>		
			</div>
			
        }
    
}
