@(forgotPasswordForm: myform.MyForgotPasswordForm)(implicit request: RequestHeader, messages: Messages)

@main(Messages("forgot.password.title")) {
    
	@titlefield(Messages("forgot.password"))
	
	<div class="footerfielddiv">
		@Messages("forgot.password.info")
	</div>
	
	@helper.form(action = routes.ForgotPasswordController.submit(), 'autocomplete -> "off") {
			
		@helper.CSRF.formField            
		
		<div class="formdiv">
		<table>
		
			@field("text","email","Email",default=forgotPasswordForm.d.email,error=forgotPasswordForm.errors("email"))
			
			@field("hr")		
			
			@field("submit",title=Messages("send"))	
		
		</table>
		</div>
		
   }
    
}	
