@(form: myform.MyResetPasswordForm ,token: java.util.UUID)(implicit request: RequestHeader, messages: Messages)

@main(Messages("reset.password.title")) {
    
        @titlefield(Messages("reset.password"))
		
        @helper.form(action = routes.ResetPasswordController.submit(token), 'autocomplete -> "off") {
		
			<div class="footerfielddiv">
            @Messages("strong.password.info")
			</div>
			
            @helper.CSRF.formField
            
			<div class="formdiv">
			<table>
			
				@field("password","password","Password",error=form.errors("password"))
							
				@field("hr")		
				
				@field("submit",title=Messages("reset"))	
			
			</table>		
			</div>
            
        }
    
}
